In [1]:
from pyspark.sql import functions as F

from IPython.display import Markdown, display
def printmd(string, color=None):
    string = '**' + string.replace('_',' ').title() + '**'
    display(Markdown(string))
    
import pandas as pd
pd.set_option('display.max_rows',None)

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", palette="pastel")

from functools import reduce

In [2]:
sc

In [2]:
df = spark.read.parquet("./dataset/dataset.parquet")

In [3]:
df.createOrReplaceTempView("cus_behaviors")

In [4]:
sql_script = \
"""
    SELECT *
    FROM cus_behaviors
    LIMIT 2
"""
spark.sql(sql_script).toPandas()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-17 08:43:00,view,2501799,2053013564003713919,appliances.kitchen.oven,elenberg,46.31,563237118,4368d099-6d19-47cb-95f8-1a235bc2d701
1,2019-11-17 08:43:00,view,6400335,2053013554121933129,computers.components.cpu,intel,435.28,551129779,4db2c365-ee85-4437-87ad-23d70bfc01a9

In [10]:
sql_script = \
"""
    SELECT 
        user_session,
        event_type,
        COUNT(event_type) AS count
    FROM cus_behaviors
    GROUP BY user_session, event_type
    ORDER BY event_type DESC, count
    ;
"""
temp = spark.sql(sql_script).groupBy('user_session').pivot('event_type').sum('count').alias('count').fillna(0)
temp.coalesce(1).write.mode('overwrite').save('./temp/num_action_by_session.parquet', format='parquet') 

num_action_by_session = pd.read_parquet('./temp/num_action_by_session.parquet',engine='pyarrow')
print(num_action_by_session.shape)
display(num_action_by_session.head(20))

(13776051, 4)

                            user_session  cart  purchase  view
0   000506dd-c8f9-46e2-895c-70a78cde8e17     1         0    14
1   001be2de-46a6-429d-b568-fd52d8af3f7d     1         1     1
2   003a912b-50c7-4114-bbdd-b7f078283268     0         0     3
3   0043bdfa-2cb9-488f-98fd-b7cf00622a43     0         0     2
4   005072f4-6030-4acd-bc83-6749f47e7c63     0         0     2
5   006909c3-9450-407a-9007-c87c643336f2     0         0     3
6   007d9125-7fa0-43b2-ad0a-f127bce1c753     1         0     1
7   00804bcc-d570-4b52-85ef-6ebf1a364092     0         0     1
8   008a70ba-f41c-4766-ac68-0291f25eee65     0         0     1
9   0093b5fd-88ac-4224-9b80-b30b97e7affc     0         0    14
10  0096b46e-64be-41a5-9998-c29c732e5040     0         0     1
11  00a241ba-dd17-4fe2-9886-dfd5289cea24     1         0     1
12  00b9ea0e-b429-4e04-a95a-727e2e8c4a97     2         1    11
13  00bf064c-1d71-4875-a0c7-6589edfbdfec     0         0     5
14  00d08095-d92a-409d-8450-2a56b370b581     2         3     5
15  00d182e0-79c1-413d-9c1f-abd765008f54     0         0     1
16  00da5fb8-1d22-4736-b466-b066cb92ae4f     0         0     6
17  00da7b48-6034-483b-8cf2-fe775ba4fcba     1         0     2
18  00dd7ab7-dc45-4f56-91f9-326e5739c0b2     1         1     1
19  00ed1fc1-a342-425d-be23-e952db778f3a     0         0     2

In [8]:
sql_script = \
"""
    SELECT 
        user_session,
        MIN(event_time) AS event_time_first,
        MAX(event_time) AS event_time_last
    FROM cus_behaviors
    GROUP BY user_session
    ;
"""
temp = spark.sql(sql_script).withColumn('duration', F.col('event_time_last').cast('long') - F.col('event_time_first').cast('long'))
temp.coalesce(1).write.mode('overwrite').save('./temp/duration.parquet', format='parquet') 

duration = pd.read_parquet('./temp/duration.parquet',engine='pyarrow')
print(duration.shape)
display(duration.head(20))

(13776051, 4)

,user_session,event_time_first,event_time_last,duration
0,eddf5cd0-c926-4920-a5b4-b2a65b7779b7,2019-11-17 01:29:09,2019-11-17 01:43:58,889
1,5c1e2dcb-f090-4014-b5f2-77db180404e5,2019-11-17 01:33:04,2019-11-17 02:21:00,2876
2,50125c8f-d912-46ec-9a17-f83024bd0973,2019-11-17 01:39:32,2019-11-17 01:44:22,290
3,330ca4bd-02d9-4f70-b956-2a2e225fef6a,2019-11-17 01:31:36,2019-11-17 01:49:27,1071
4,bee47dc9-2b95-4949-873d-22b810b1c5bd,2019-11-17 01:39:11,2019-11-17 01:43:07,236
5,5c2101d8-ffb0-4fe5-95d1-e8fcd9052967,2019-11-17 01:32:33,2019-11-17 01:56:41,1448
6,7d923a03-3b0d-46e1-87b8-413fbf1eafa4,2019-11-17 01:43:10,2019-11-17 01:43:46,36
7,b3cbb161-0e85-4d87-9f91-9d1764bc44f2,2019-11-17 01:30:15,2019-11-17 02:06:37,2182
8,a86b63f0-5a8b-4e25-97d5-f0f65a1235b4,2019-11-17 01:18:08,2019-11-17 01:43:37,1529
9,5e1230a5-56e1-45cd-94b1-f5cc2f19600d,2019-11-17 01:43:25,2019-11-17 01:53:18,593
10,d76a0ffa-6ecd-4b49-ae67-52ae3c5ff13c,2019-11-17 01:43:26,2019-11-17 01:49:09,343
11,9293cad8-fa30-4c7f-ab22-97494332d67a,2019-11-17 01:43:31,2019-11-17 01:58:06,875
12,7b9c2d5b-3aaf-495a-a326-c6bf0c32b94a,2019-11-17 01:43:36,2019-11-17 01:45:49,133
13,5ef905d0-79bf-4a7e-b77c-08d86943ba77,2019-11-17 01:33:17,2019-11-17 01:49:14,957
14,a0fa122a-4199-417e-90a7-3f35a7ddacd6,2019-11-17 01:37:35,2019-11-17 02:45:21,4066
15,c5ed74b5-b746-4739-9189-3180db06c40b,2019-11-17 01:40:47,2019-11-17 01:52:55,728
16,3216de45-bcd9-4c66-ac8b-310923f37d3c,2019-11-17 01:43:49,2019-11-17 02:02:23,1114
17,ee1bb09f-9212-4b7e-9187-5f04eda4c427,2019-11-17 01:43:50,2019-11-17 01:43:50,0
18,bb7ad8f8-a484-4383-b3a1-0e403be3f8ef,2019-11-17 01:42:48,2019-11-17 01:46:08,200
19,aa16f012-8a38-4c65-b606-074ad6b394bc,2019-11-17 01:27:09,2019-11-17 01:52:49,1540

In [12]:
sql_script = \
"""
    SELECT
        user_session,
        COUNT(DISTINCT category_id) AS num_distinct_category
    FROM cus_behaviors
    GROUP BY user_session
"""

temp = spark.sql(sql_script).fillna(0)
temp.coalesce(1).write.mode('overwrite').save('./temp/distinct_category.parquet', format='parquet') 

distinct_category = pd.read_parquet('./temp/distinct_category.parquet',engine='pyarrow')
print(distinct_category.shape)
display(distinct_category.sort_values('num_distinct_category',ascending = False).head(20))

(13776051, 2)

                                  user_session  num_distinct_category
98078     afb5848d-98e5-43e8-bd9d-c0ad5ef9d8bf                     99
1393986   4921edd9-3cbb-43a4-bb0d-d12912b74f98                     89
6940625   fc749a4e-c432-4dae-a0a1-04de89f1e4ea                     89
2812281   d6433d7b-3846-456a-88de-748c3fac2675                     87
9701391   b556f0c7-3a23-44f5-9f34-e713fefa9686                     86
4171151   d99d91bf-40f8-4e29-9593-54b4a1826542                     81
2803136   88206fc3-b5ea-4e3b-be68-67edfbf7009b                     80
6902679   af4ad1c0-a131-4fab-94f2-5d6d647adcb7                     69
12416116  5759a13c-5b35-4e79-ab26-5453f422be31                     68
11155378  9ac8fcf2-973b-41ca-a052-f670260c77c7                     63
2790058   b716a846-9385-409b-a38a-7d30c513edfc                     63
5569004   a618588a-f492-4086-8ac4-93408c60884d                     56
5612190   ad9d1932-e33f-49ca-b609-0a94fcf52e57                     56
1480388   4b8e66f4-070b-4534-84cb-48c7603a9cef                     55
4172599   0c307610-aa79-bf12-4ada-323af26b44b9                     54
2792354   08395eb7-a730-4186-9ee5-3373e55229b8                     54
7023872   8a6b852c-77f7-4b49-9ec5-1381b6d782c4                     53
1504450   a1c596b6-14dc-491e-854a-4fc6b35ed711                     53
6965029   58c242f5-c85d-446c-8263-89786c96f9e7                     53
1447403   b4242a7c-4765-4eee-ab09-128553d1db15                     52

In [7]:
sql_script = \
"""
    SELECT
        user_session,
        COUNT(DISTINCT category_id) AS num_distinct_cart_cat,
        COUNT(DISTINCT product_id) AS num_distinct_cart_product
    FROM cus_behaviors
    WHERE event_type = 'cart'
    GROUP BY user_session
"""

temp = spark.sql(sql_script).fillna(0)
temp.coalesce(1).write.mode('overwrite').save('./temp/num_distinct_cart_cat.parquet', format='parquet') 

num_distinct_cart_cat = pd.read_parquet('./temp/num_distinct_cart_cat.parquet',engine='pyarrow')
print(num_distinct_cart_cat.shape)
display(num_distinct_cart_cat.sort_values('num_distinct_cart_cat',ascending = False).head(20))

(1743343, 3)

,user_session,num_distinct_cart_cat,num_distinct_cart_product
1546784,f38c9080-eb01-4e42-94de-81201179c15d,16,36
35710,13a0cd04-cbec-4842-866e-629f73fa66c0,15,50
1531630,3d60451e-ef71-4bb7-9258-6194a850dd67,14,17
887494,68b52b9a-97c8-4525-aba2-604ede028da8,13,56
881498,c1ada587-2d56-442f-9779-486c1d390c96,12,17
1109292,1c140b4b-61dc-4c85-8b86-3ed1cc9b29ec,12,20
471596,6941b303-3d18-4e9d-9c2f-9931d2b63bf9,12,12
1288987,c10be987-02cc-48f9-8c14-397378636b39,12,17
867584,912a78ca-392a-40f0-b096-cdd5afc83895,12,12
1074692,7422055c-a866-4aa7-9a57-58431ca270b6,11,13
19367,ba7b60c4-8f1c-44e1-8a14-981321f376d0,11,13
868389,f09a1fbd-ec23-4dcb-b177-f70f0f2cc311,11,12
222816,c8e307c3-ddb0-4596-83ab-4af31dd251be,11,57
438561,8dd43313-ff94-4c1b-b4f4-5ab3e5a8df74,11,13
1100089,f09b3afe-715e-4af2-9d05-b4d38e5c5496,10,12
691756,6386dbc3-123c-48fa-a43d-759e1eac6eb5,10,11
850670,d94ffa50-fb11-45db-baeb-a3a03d31c0be,10,21
1274337,1b767b36-8565-4446-b469-4585359128e8,10,10
246789,71d0c4eb-be3d-4a4c-8123-9c4972e25558,10,11
673116,129917a3-a3b1-46b8-ae69-8f2c5863f306,10,11

In [16]:
sql_script = \
"""
    SELECT 
        user_session,
        event_type,
        SUM(price) AS potential_revenue
    FROM cus_behaviors
    GROUP BY user_session, event_type
    ORDER BY event_type DESC, potential_revenue
    ;
"""
temp = spark.sql(sql_script).groupBy('user_session').pivot('event_type').sum('potential_revenue').alias('potential_revenue').fillna(0)
temp.coalesce(1).write.mode('overwrite').save('./temp/potential_revenue.parquet', format='parquet') 

potential_revenue = pd.read_parquet('./temp/potential_revenue.parquet',engine='pyarrow')
print(potential_revenue.shape)
display(potential_revenue.head(20))

(13776051, 4)

                            user_session    cart  purchase     view
0   000506dd-c8f9-46e2-895c-70a78cde8e17  486.24      0.00  5589.57
1   001be2de-46a6-429d-b568-fd52d8af3f7d    8.21      8.21     8.21
2   003a912b-50c7-4114-bbdd-b7f078283268    0.00      0.00   509.55
3   0043bdfa-2cb9-488f-98fd-b7cf00622a43    0.00      0.00   673.58
4   005072f4-6030-4acd-bc83-6749f47e7c63    0.00      0.00  1654.43
5   006909c3-9450-407a-9007-c87c643336f2    0.00      0.00  1542.69
6   007d9125-7fa0-43b2-ad0a-f127bce1c753  159.33      0.00   159.33
7   00804bcc-d570-4b52-85ef-6ebf1a364092    0.00      0.00    64.35
8   008a70ba-f41c-4766-ac68-0291f25eee65    0.00      0.00   149.90
9   0093b5fd-88ac-4224-9b80-b30b97e7affc    0.00      0.00  1741.70
10  0096b46e-64be-41a5-9998-c29c732e5040    0.00      0.00    54.03
11  00a241ba-dd17-4fe2-9886-dfd5289cea24  246.03      0.00   246.03
12  00b9ea0e-b429-4e04-a95a-727e2e8c4a97  925.89    916.37  2005.83
13  00bf064c-1d71-4875-a0c7-6589edfbdfec    0.00      0.00   936.26
14  00d08095-d92a-409d-8450-2a56b370b581  650.15    778.57  2065.03
15  00d182e0-79c1-413d-9c1f-abd765008f54    0.00      0.00   124.70
16  00da5fb8-1d22-4736-b466-b066cb92ae4f    0.00      0.00  3006.33
17  00da7b48-6034-483b-8cf2-fe775ba4fcba   47.62      0.00    95.24
18  00dd7ab7-dc45-4f56-91f9-326e5739c0b2  618.01    618.01   618.01
19  00ed1fc1-a342-425d-be23-e952db778f3a    0.00      0.00   116.60

In [8]:
num_action_by_session = pd.read_parquet('./temp/num_action_by_session.parquet',engine='pyarrow')
duration = pd.read_parquet('./temp/duration.parquet',engine='pyarrow')
distinct_category = pd.read_parquet('./temp/distinct_category.parquet',engine='pyarrow')
num_distinct_cart_cat = pd.read_parquet('./temp/num_distinct_cart_cat.parquet',engine='pyarrow')
num_action_by_session.columns = [num_action_by_session.columns[0]] + ['c_'+x for x in num_action_by_session.columns[1:]]
potential_revenue = pd.read_parquet('./temp/potential_revenue.parquet',engine='pyarrow')
potential_revenue.columns = [potential_revenue.columns[0]] + ['r_'+x for x in potential_revenue.columns[1:]]

In [9]:
tab_names = ['duration','distinct_category','num_distinct_cart_cat','num_action_by_session','potential_revenue']
tab_list = [eval(tab) for tab in tab_names]
df = reduce(lambda df1,df2: pd.merge(df1,df2,left_on='user_session',right_on='user_session',how = 'outer'),tab_list)

In [12]:
df.shape

(13776051, 12)

In [10]:
df.fillna(0)
df.dropna()
df.shape
df.to_parquet('./dataset/temp.parquet',engine='pyarrow')

In [2]:
df = spark.read.parquet('./dataset/temp.parquet').drop('__index_level_0__')

In [3]:
from pyspark.sql import functions as F
df = df.withColumn('r_view',F.round(F.col('r_view'),2))
df = df.withColumn('mean_cart',F.round(F.col('r_cart')/F.col('c_cart'),2)).fillna(0)
df = df.withColumn('mean_purchase',F.round(F.col('r_purchase')/F.col('c_purchase'),2)).fillna(0)
df = df.withColumn('mean_view',F.round(F.col('r_view')/F.col('c_view'),2)).fillna(0)
df = df.withColumn("hour", F.hour(F.col("event_time_first")))
df = df.withColumn("day_name", F.date_format("event_time_first",'E'))

In [4]:
df.write.mode('overwrite').parquet('./dataset/refined_feature_dataset.parquet')